<div class="navbar bg-red">
  <div class="navbar-inner">
    <div class="left color-white">
     TARTANOMS
    </div>
    <div class="center">
    </div>
    <div class="right">
    </div>
  </div>
</div>
