<div class="navbar bg-red">
  <div class="navbar-inner">

    <div class="left">
      TARTANOMS
    </div>

    <div class="center hide">
      <%= fa_icon "search" %>
      <input id="searchbox" type="text" placeholder="Search eateries..." />
    </div>

    <div class="right">
      <div id="open-now-toggle">
        <input type="checkbox" checked="checked"/>
        Open Now
      </div>
      <div id="search-button"><%= fa_icon "search" %></div>
    </div>

  </div>
</div>
