<div class="navbar bg-red">
  <div class="navbar-inner">
    <div class="left color-white">
      TARTANOMS
    </div>
    <div class="center">
    </div>
    <div class="right">
      <div class="white-text">
        Open Now
        <input id="open-checkbox" type="checkbox" input checked="checked"/>
      </div>
      <div class="search-logo"><%= fa_icon "search" %></div>
    </div>
  </div>
</div>
