<div id="tabbar" class="toolbar tabbar">
    <div class="toolbar-inner">
        <a href="#tab1" class="tab-link active">
          <%= fa_icon "hourglass-half" %>
        </a>
        <a href="#tab2" class="tab-link">
          <%= fa_icon "map-o" %>
        </a>
    </div>
</div>
