<div id="timeline">
  <div id="time-labels">
    <p>now</p>
    <p>+1h</p>
    <p>+2h</p>
  </div>

  <div id="eateries">
    <%= render partial: 'home/eateries' %>
  </div>

  <div id="board">
    <div id="now" class="ruler"></div>
    <div class="ruler"></div>
    <div class="ruler"></div>
  </div>
</div>


<div class="popup popup-asiana">
  <p>Asiana</p>
  <a href="#" class="close-popup">Close popup</a>
  <p>Lorem ipsum dolor ...</p>
</div>
