<div id="timeline">
  <div id="time-labels">
    <p>now</p>
    <p>+1h</p>
    <p>+2h</p>
  </div>

  <div id="eateries">
    <div class="location">Newell Simon</div>
    <div class="eatery">
      <div class="eatery-info">
        <p>Asiana</p>
      </div>
      <%= image_tag 'asiana.png' %>
    </div>
    <div class="eatery">
      <div class="eatery-info">
        <p>Mitchell's</p>
      </div>
      <%= image_tag 'mitchells.png' %>
    </div>

    <div class="location">Resnik</div>
    <div class="eatery">
      <div class="eatery-info">
        <p>CM Cafe</p>
      </div>
      <%= image_tag 'mitchells.png' %>
    </div>
    <div class="eatery">
      <div class="eatery-info">
        <p>Taste of India</p>
      </div>
      <%= image_tag 'mitchells.png' %>
    </div>

  </div>

  <div id="board">
    <div id="now" class="ruler"></div>
    <div class="ruler"></div>
    <div class="ruler"></div>
  </div>
</div>
