<div id="timeline">
  <div id="time-labels">
    <p>now</p>
    <p>+1h</p>
    <p>+2h</p>
  </div>

  <div id="board">
    <div id="now" class="ruler"></div>
    <div class="ruler"></div>
    <div class="ruler"></div>
  </div>

  <div id="eateries" class="bg-gray open-only">
    <%= render partial: "home/eateries" %>
  </div>
</div>

<%= render partial: "home/eateries_detail" %>
